<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>419154773185-572g25tjivjjhb4h273vhtn9vm2mevff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419154773185-572g25tjivjjhb4h273vhtn9vm2mevff</string>
	<key>API_KEY</key>
	<string>AIzaSyC1YssMn0hhdA-KiwKr3gZiCsV-A4hVdEw</string>
	<key>GCM_SENDER_ID</key>
	<string>419154773185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Thanh-Le.StarKids</string>
	<key>PROJECT_ID</key>
	<string>starkids-9255d</string>
	<key>STORAGE_BUCKET</key>
	<string>starkids-9255d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419154773185:ios:a478d3cb7607c079</string>
	<key>DATABASE_URL</key>
	<string>https://starkids-9255d.firebaseio.com</string>
</dict>
</plist>